---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2
      class="text-center font-extrabold tracking-tight text-gray-100 text-5xl"
    >
      <span class="relative whitespace-nowrap">
        <span class="relative whitespace-nowrap">
          <span
            class="absolute -bottom-1 -left-2 -right-2 -top-1 -rotate-1 bg-primary md:-bottom-0 md:-left-3 md:-right-3 md:-top-0"
          ></span>
          <span class="relative"> {title} </span>
        </span>
      </span>
    </h2>
  </div>
  <p class="max-w-xl text-center font-bold text-xl">
    <slot name="lead" />
  </p>
  <slot />
</section>
