---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FooterLink, WebsiteContent } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://www.linkedin.com/in/axeladrian85",
    icon: "fa-brands:linkedin",
  },
  {
    url: "https://github.com/axzilla",
    icon: "fa-brands:github",
  },
  {
    url: "https://twitter.com/_axzilla",
    icon: "fa-brands:twitter",
  },
  {
    url: "mailto:hello@axeladrian.com",
    icon: "fa-solid:envelope",
  },
];

const { translations } = Astro.props as { translations: WebsiteContent };
---

<ContentSection title={translations.end.title} id="end">
  <Fragment slot="lead">
    {translations.end.text}
  </Fragment>
  <ul class="flex gap-8">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-8 items-center justify-center hover:text-primary"
            href={link.url}
            target="_blank"
          >
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</ContentSection>
