---
import { Image } from "astro:assets";
import me from "~/assets/me.png";
import Starfield from "~/components/starfield.astro";

const widths = [225, 400]; // Angepasste Breiten
const sizes = "(min-width: 640px) 21vw, 34vw"; // Angepasste Größen
---

<section class="relative h-full bg-black">
  <Starfield />
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col items-center gap-2 self-end text-white sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <div
        class="text-center font-extrabold tracking-tighter text-6xl md:text-left md:text-8xl"
      >
        Ich<span class="text-primary">.</span>
        <br /> Mache<span class="text-primary">.</span>
        <br /> Software<span class="text-primary">.</span>
      </div>
    </h2>
    <div id="me" class="w-1/3 max-w-xl justify-center sm:w-5/12 sm:self-auto">
      <Image
        class="h-full w-full object-cover"
        src={me}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A picture of Axel Adrian"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #me {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #me {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
